.custom-table th,
.custom-table td {
  text-align: center;
  vertical-align: middle;
  border-right: 1px solid #dee2e6; /* half-line look */
}

.custom-table {
  border-collapse: collapse;
}

.custom-table thead {
  background-color: #007bff;
  color: white;
}

.custom-table thead th {
  background-color: #efeded;
}

.custom-table tbody tr:nth-child(even) {
  background-color: #f8f9fa;
}

.custom-table tbody tr:hover {
  background-color: #e9f0ff;
}

.custom-table img {
  border-radius: 5px;
  border: 1px solid #dee2e6;
}

.truncate-2-lines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 3.2em;
}

.toggle-section {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.toggle-button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #ddd;
  background-color: white;
  cursor: pointer;
  margin: 0 5px;
  border-radius: 5px;
}

.toggle-button.active {
  background-color: rgb(36, 100, 148);
  color: white;
  border-color: rgb(36, 100, 148);
}

.save-badge {
  font-size: 14px;
  color: rgb(36, 100, 148);
  margin-left: 5px;
}

.dashboard-language-color{
  padding: 0 10px;
  color: black !important;
}

.language-button-vise {
  /*  font-family: Reddit Sans; */
  font-size: 16px !important;
  letter-spacing: 0px;
  line-height: 140%;
  color: black !important;
}

.table-image-cell {
  display: flex;
  justify-content: center;  /* Horizontal center */
}

@media (max-width: 767px) {
  .language-button-vise {
    font-size: 12px !important;
  }
}

